:root{
    --cinza: #505050;
    --branco: #f0f0f0;
}

body {
    margin: 0;
    padding: 0;
    font-family:Tahoma, sans-serif;
}

.content {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;
    color: var(--cinza);
}

.btn{
    background-color: var(--cinza);
    border: none;
    color: var(--branco);
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
}

.btn:hover{
    transition: 1000ms;
    cursor: pointer;
    background-color: black;
}

.rodape {
    background-color: var(--cinza);
    text-align: center;
    padding: 2px;
    color: var(--branco);
    position: fixed;
    height: 5vh;
    width: 100%;
    padding-top: 8px;
    font-weight: 400;
}

.dark-mode {
    --cinza: #f0f0f0;
    --branco: #000;
}

.btn.dark-mode{
    background-color: white;
    color: #505050;
}

.btn.dark-mode:hover{
    transition: 1000ms;
    cursor: pointer;
    background-color: #505050;
    color: #f0f0f0;
}

.rodape.dark-mode{
    background-color: #505050;
}